* { /* configurações globais*/
    margin: 0;
    padding: 0;
}

/* header */

header {
    background-color: rgb(205, 143, 57);
    height: 40px;
}

.topics {
    background-color: aqua;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding-right: 10px;
}

/* main */

main {
    display: inline-block;
    width: 80%;
}

.sinopse

.most-popular-description {
    width: 50px;
    text-align: justify;
}

/* aside */

.lateral {
    
}
