/*configurações globais*/
*{ 
    margin: 0;
    padding: 0;
}

* a{
    text-decoration: none;
    color: white;
}


/*configurações globais*/

/*header*/
header{
    background-image: url(../img/fundo-header.jpg);
    mask-repeat: no-repeat;
    height: 60px;
}

.logo-link{
    padding-left: 40px;
    padding-top: 6px;
    float: left;
    font-family:'Koh Santepheap';
    font-weight: 400;
    font-size: 40px;
    color: #F2DABD;
}

.nav-principal{
    background-color: #6C6565;
    align-content: center;
    height: 30px;
    padding-top: 8px;
}

nav > ul > li{
    font-family:'Koh Santepheap';
    list-style: none;
    display: inline;
    padding-right: 5px;
    padding-left: 185px;
}

nav > ul > li > a{
    color: white;
}

.logo-link{
    
}
/*header*/

/*aside*/
.aside-group{
    display: block;
    float: left;
    width: 15%;
}
aside{
    padding-top: 20px;
    height: 400px;
    background-color: rgb(149, 149, 149);
}

.main-title-aside{
    color: white;
    font-size: larger;
    font-weight: 400;
    display: block;
    text-align: center;
    font-family: 'Koh Santepheap';
}

.aside-item{
    color: white;
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
}
/*aside*/

/*main*/
.main-group{
    display: block;
    float: left;
    width: 85%;
    height: 400px;
}

main{
    background-color: aliceblue;
    width: 90%;
}

h1{
text-align: center;
}

.title-apresentation{
    padding: 50px;
}

.paragraph-apresentation{
    text-align: left;
    width: 90%;
    padding: 10px 40px 20px 20px;
}

.image-apresentation{
    
}

/*.ads{
    float: right;
    width: 10%;
    height: 500px;
}
*/
    
/*main*/
